body
{
    font-family: 'Shrikhand', sans-serif;
}
html{
    color: aqua;
}




@media (max-width:768px){

    header{
        display: flex;
    }
    #logo {
        display: flex;
        justify-content: center;
      }



}







