body
{
    font-family: 'Shrikhand', sans-serif;
    margin: 0;
}

/************************************** MOBILE DISPLAY *************************************************************/
@media (max-width:768px){
/***************************************Top bloc ***********************************************/
    header{
        display: flex;
        justify-content: center;
    }

    #location
    {
        display: flex;
        justify-content:center;
        align-items: center;
        background-color:#eaeaea;
        font-weight: bold;
        color: rgb(73, 73, 73);
        height: 50px;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(204, 219, 232) 3px 3px 6px 0px inset;
  }
    
    #location_icon
    {
        font-size: 20px;
        padding-right: 5%;
    }
    #explore_describe
    {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #F2F2F2;
        height:300px;
    }
    #describe_top_text
    {
        padding-top: 50px;
        font-size: 20px;
        font-weight: bold;

    }
    #describe_top_text span
    {
        padding-left: 50px;
    }
    #describe_bottom_text
    {
        color: grey;
        font-size: 20px;
    }
    #describe_bottom_text span
    {
        padding-left: 50px;
    }
    #explore_button button
    {
        height: 50px;
        background-image: linear-gradient(to bottom right, #FF79DA, #9356dc);
        color: white;
        position: relative;
        font-weight: 700;
        font-size: 18px;
        border-radius: 60px 60px 60px 60px;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0px 1px 19px 0px #bcbcbc;
    }
    #explore_button
    {
        padding-bottom: 70px;
    }
    #explore_button button:active
    {
        box-shadow: 0px 5px 30px 0px #bcbcbc;
        transform: translateY(1px);
    }

/*********************************** Fonctionnement bloc **********************************************************/

    .menu
    {
        border: 1px solid #F2F2F2;
        border-radius: 20px 20px 20px 20px;
        display: flex; 
        width: 85%;
        height: 25%;
        align-items: center;
        background-color: #F2F2F2;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
        margin-left: 30px;
        margin-bottom: 50px;
        
    }
    
    #fonctionnement_menu
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:400px;
    }
    #fonctionnement_title
    {
        padding-left: 20px;
    }
    .menu_icons
    {
        color: grey;
        font-size: 30px;
        padding-right: 20px;
    }
    .menu_number
    {
        
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-top: 5px;
        margin-right: 20px;
        margin-left: -20px;
        background-color:#9356DC;
        color: white;
    }
   
    .menu_describe
    {
        display: flex;
        font-size: 18px;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.904);
    }
    .menu a
    {
        display: flex;
        text-decoration:none;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .menu:hover
    {
        background-color: #e2cffa;
    }

    /*********************Restaurant**********************************/
    #restaurant
    {
        background-color: #F2F2F2;
        height:100%;
    }
    #restaurant_title
    {
        padding-left: 20px;
        padding-top: 50px;
    }
    
      .card {
        display: flex;
        height: 250px;
        width: 90%;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 1px 19px 0px #bcbcbc;
        color: black;
        justify-content: center;
        margin-left: 20px;
        margin-bottom: 20px;
      }
      
      .card a 
      {
        padding: 0%;
        width: 100%;
        text-decoration: none;
        color: black;
      }
      
      .card_picture 
      {
        width: 100%;
        height: 60%;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
      }
      
      .card_picture img 
      {
        height: 100%;
        width: 100%;
      }
      .card_text 
      {
        padding: 15px;
      }
      
      .card_text h3 
      {
        position: absolute;
      }
      
      .card_text p 
      {
        float: left;
        position: absolute;
        padding-top: 35px;
      }
      
      .card_text i 
      {
        padding-top: 22px;
        float: right;
        font-size: 1.4em;
        color: rgb(38, 39, 39);
      }
    /*******************************************FOOTER**************************************************/
    footer {
        width: auto;
        margin-top: 30px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #353535;
        color: white;
        margin: auto;
      }
    footer h2 
    {
        padding-left: 20px;
    }
    footer p
    {
        padding-left: 20px;
    }
    footer p i
    {
        padding-right: 10px;
    }
    footer a
    {
        padding-left: 20px;
        text-decoration: none;
        color: white;
        
    }


/********************************Restaurant pages*********************************/
#return_menu
{
    position:absolute;
    left:0;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 25px;
    text-decoration:none;
    color: #353535;
   
}



}




